/* 改变主题色变量 */
$--color-primary: #367e8e;
$menuText: #bfcbd9;
$menuActiveText: #6bc6e3;
$subMenuActiveText: #f4f4f5;
$menuBg: #304156;
$menuHover: #263445;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;
/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// #1c1e21

// #f5f6f7
