@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.main-container {
  // padding: 20px;
  // border: 1px solid red;
  background: #f4f5f5;
}
// 统一容器csss
.yidu-container {
  width: 100%;
  height: 100vh;
  background: #f4f5f5;
  padding: 0 50px;

  .yidu-header {
    padding: 10px 10px;
    width: 100%;
    background: #fff;
    margin: 5px 0;
    border-radius: 6px;

    .search-area {
      padding-top: 5px;
      margin: 10px;
      .search-btn {
        margin-left: 20px;
        margin-top: -2px;
      }
      //
      .el-form {
        display: flex;
        align-items: center;
        .el-form-item {
          margin-bottom: 0px;
        }
      }
    }
    .btn-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .yidu-main {
    text-align: center;
  }
}
